/*
Custom Css
*/

a.navbar-brand.custome-text-color.logo.h1.align-self-center {
    color: rgb(255, 255, 255);
}

.custome-bg-navbar {
    background-color: rgb(255, 175, 255);
}

.custome-bg-navbar-about {
    background-color: rgb(190, 255, 175);
}

.custome-text-color 
{
    color: white;
}



/* Asegúrate de que el dropdown no se salga de la pantalla */
.dropdown-menu {
    position: absolute;
    transform: translate3d(0, 8px, 0);
    top: 100;
    left: -100px;
    will-change: transform;
    max-height: calc(100vh - 50px); /* Ajusta la altura máxima para evitar que se salga de la pantalla */
    overflow-y: auto; /* Permite desplazamiento vertical si el contenido es muy largo */
}

