/*
Custom Css
*/

a.navbar-brand.custome-text-color.logo.h1.align-self-center {
    color: rgb(255, 255, 255);
}

.custome-bg-navbar {
    background-color: rgb(160, 121, 182);
}

.custome-bg-navbar-about {
    background-color: rgb(190, 255, 175);
}

.custome-text-color {
    color: white;
}


/* Asegúrate de que el dropdown no se salga de la pantalla */
.dropdown-menu {
    position: absolute;
    transform: translate3d(0, 8px, 0);
    left: -100px;
    will-change: transform;
    max-height: calc(100vh - 50px); /* Ajusta la altura máxima para evitar que se salga de la pantalla */
    overflow-y: auto; /* Permite desplazamiento vertical si el contenido es muy largo */
}


#user-block {
    display: none; /* Oculto por defecto */
    width: 12rem; /* Ancho */
    height: 20rem; /* Alto */
    background-color: #ffffff; /* Color de fondo blanco, equivalente a $white en Bootstrap */
    position: fixed; /* Cambiado a fixed para asegurar su visibilidad */
    top: 40%; /* Posición en la mitad de la pantalla verticalmente */
    left: 90%; /* Posición en la mitad de la pantalla horizontalmente */
    transform: translate(-50%, -50%); /* Centrar el div exactamente en el medio */
    z-index: 1050; /* Aumentado para superar el z-index de otros elementos */
    border-radius: 0.25rem; /* Redondea las esquinas, alineado con Bootstrap */
    /* Agrega un margen gris, usando un color cercano a $gray-500 de Bootstrap */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); /* Sombra uniforme en todos los lados */
}


.icon-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 8rem; /* Aumenta el tamaño del círculo */
    height: 8rem; /* Aumenta el tamaño del círculo */
    border-radius: 50%; /* Mantiene el borde completamente redondo */
    background-color: #f5f5f5; /* Color de fondo del círculo */
    color: #000000; /* Color del icono */
    font-size: 6rem; /* Aumenta el tamaño del icono para llenar el círculo */
}


.custom-radio input[type="radio"] {
    margin-right: 10px;
}

.custom-radio label {
    cursor: pointer;
}

.dropdown-divider {
    height: 1px;
    margin: 0.3rem 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.18); /* Black color */
}

.profile-picture {
    width: 8rem; /* Adjust the size as needed */
    height: 8rem; /* Adjust the size as needed */
    border-radius: 50%; /* Make the image circular */
    background-color: #e7e7e7;
}

.profile-picture-mini{
    border-radius: 50%; /* Make the image circular */
    background-color: #e7e7e7;
}

.center-li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-option-font {
    font-size:12px; !important;
}

strong, h1, h3 {
  font-family: 'Patrick Hand', serif;
  font-size: 40px !important;
  font-weight: 700 !important;
}

.icon-spe {
    font-size: 30px;
}

