{% extends "base.html" %}

{% block styles %}
    <!-- Load map styles -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
{% endblock %}

{% block body %}
    <!-- Start Content Page -->
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 class="h1">¡Contáctanos!</h1>
            <p>
                ¿Tienes dudas acerca de la página? ¿Algún error ocurrió? ¿Necesitas apoyo para registrarte?
                Cuéntanos, estamos aquí para ayudarte.
            </p>
        </div>
    </div>

    <!-- Start Contact -->
    <div class="container py-5">
        <div class="row py-5">
            <form id="contactForm" class="col-md-9 m-auto" method="post" role="form">
                <div class="row">
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputname">Nombre</label>
                        <input type="text" class="form-control mt-1" id="nombre" name="nombre"
                               placeholder="Ingresa aquí" autocomplete="off">
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="inputemail">Correo electrónico</label>
                        <input type="email" class="form-control mt-1" id="correo" name="correo"
                               placeholder="Ingresa aquí" autocomplete="off">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputsubject">Asunto</label>
                    <input type="text" class="form-control mt-1" id="asunto" name="asunto"
                           placeholder="¿Cuál es tu duda? ¿En qué podemos ayudarte?" autocomplete="off">
                </div>
                <div class="mb-3">
                    <label for="inputmessage">Mensaje</label>
                    <textarea class="form-control mt-1" id="mensaje" name="mensaje"
                              placeholder="Cuentanos a detalle lo sucedido..." rows="8" autocomplete="off"></textarea>
                </div>
                <div class="row">
                    <div class="col text-end mt-2">
                        <button type="submit" class="btn btn-success btn-lg px-3">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Contact -->
{% endblock %}

{% block scripts %}
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.getElementById('contactForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const nombre = document.getElementById('nombre').value.trim();
            const correo = document.getElementById('correo').value.trim();
            const asunto = document.getElementById('asunto').value.trim();
            const mensaje = document.getElementById('mensaje').value.trim();

            if (!nombre || !correo || !asunto || !mensaje) {
                Swal.fire({
                    title: 'Error',
                    text: 'Todos los campos son obligatorios.',
                    icon: 'error',
                    confirmButtonText: 'Aceptar'
                });
            } else {
                Swal.fire({
                    title: '¡Formulario enviado!',
                    text: 'Gracias por contactarnos. Te responderemos pronto.',
                    icon: 'success',
                    confirmButtonText: 'Aceptar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        event.target.submit();
                    }
                });
            }
        });
    </script>
{% endblock %}