{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors %}

{% block styles %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3>Realizar Pago</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <form method="POST" action="{{ url_for('payment', id=id) }}">
                                        {{ form.hidden_tag() }}
                                        <div class="form-group mb-3">
                                            {{ render_field_with_errors(form.card_number, class="form-control", id="card_number") }}
                                        </div>
                                        <div class="form-group mb-3">
                                            {{ render_field_with_errors(form.card_holder, class="form-control", id="card_holder") }}
                                        </div>
                                        <div class="form-row mb-3">
                                            <div class="col">
                                                {{ render_field_with_errors(form.expiration_month, class="form-control", id="expiration_month") }}
                                            </div>
                                            <div class="col">
                                                {{ render_field_with_errors(form.expiration_year, class="form-control", id="expiration_year") }}
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            {{ render_field_with_errors(form.cvv, class="form-control", id="cvv") }}
                                        </div>
                                        <div class="form-group mb-3">
                                            {{ render_field_with_errors(form.amount, class="form-control", id="amount") }}
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-block" type="submit">
                                                Realizar compra
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <img src="{{ url_for('static', filename='images/p-{}.jpg'.format(id)) }}" alt="Image" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}