{% extends "base.html" %}

{% block styles %}
    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slick.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slick-theme.css') }}">

{% endblock %}

{% block body %}
    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid"
                             src="{{ url_for('static', filename='images/p-{}.jpg'.format(product.id)) }}"
                             alt="Card image cap" id="product-detail">
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{ product.nombre_producto }}</h1>
                            <p class="h3 py-2">${{ product.precio }}</p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Marca: </h6>
                                </li>
                                <li class="list-inline-item">
                                    <h6>{{ product.marca.nombre_marca }}</h6>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Color disponible:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <h6>{{ product.color.nombre_color }}</h6>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Tamaño:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <h6>{{ product.detalle_tamaño.tamaño }}</h6>
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Cantidad: </h6>
                                </li>
                                <li class="list-inline-item">
                                    <h6>{{ product.cantidad }}</h6>
                                </li>
                            </ul>


                            <div class="row pb-3">
                                <div class="col d-grid">
                                    <a href="{{ url_for('payment', id=1) }}" class="btn btn-success btn-lg">
                                        Comprar ahora
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->



{% endblock %}

{% block scripts %}
    <!-- Start Script -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-migrate-1.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/templatemo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <!-- End Script -->

    <!-- Start Slider Script -->
    <script src="{{ url_for('static', filename='assets/js/slick.min.js') }}"></script>
    <script>
        $('#carousel-related-product').slick({
            infinite: true,
            arrows: false,
            slidesToShow: 4,
            slidesToScroll: 3,
            dots: true,
            responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3
                }
            },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                }
            ]
        });
    </script>
    <!-- End Slider Script -->

{% endblock %}