{% extends "base.html" %}

{% block body %}
    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="h2 pb-4">Filtros</h1>
                <ul class="list-unstyled templatemo-accordion">


                    <!-- Filtros -->

                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Género
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            {% for index, gender in genders %}
                                <li class="custom-radio">
                                    <input type="checkbox" name="gender" id="gender-{{ index }}" value="{{ index }}">
                                    <label for="gender-{{ index }}">{{ gender }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Categorías
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                            {% for index, category in categories %}
                                <li class="custom-radio">
                                    <input type="checkbox" name="category" id="category-{{ index }}"
                                           value="{{ index }}">
                                    <label for="category-{{ index }}">{{ category }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Rango de precios
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li class="custom-radio">
                                <input type="checkbox" name="price-range" id="price-range-1" value="1">
                                <label for="price-range-1">Menos de $50</label>
                            </li>
                            <li class="custom-radio">
                                <input type="checkbox" name="price-range" id="price-range-2" value="2">
                                <label for="price-range-2">$50 - $100</label>
                            </li>
                            <li class="custom-radio">
                                <input type="checkbox" name="price-range" id="price-range-3" value="3">
                                <label for="price-range-3">$100 - $150</label>
                            </li>
                            <li class="custom-radio">
                                <input type="checkbox" name="price-range" id="price-range-4" value="4">
                                <label for="price-range-4">Más de $150</label>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item mr-2">
                                <h2 class="text-dark mr-3 orden-title">Orden</h2>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <select name="order" class="form-control">
                                <option value="1">Todo</option>
                                <option value="2">A - Z</option>
                                <option value="3"> Menor a mayor precio</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="product-container" class="row">
                    {% for product in products %}
                        <div class="col-md-4">
                            <div class="card mb-4 product-wap rounded-0">
                                <div class="card rounded-0">
                                    <img class="card-img rounded-0 img-fluid"
                                         src="{{ url_for('static', filename='assets/img/shop_01.jpg') }}">
                                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                        <ul class="list-unstyled">
                                            <li><a class="btn btn-success text-white mt-2"
                                                   href="{{ url_for('shop_single') }}"><i
                                                    class="far fa-eye"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body text-center">
                                    <a href="{{ url_for('shop_single') }}"
                                       class="h3 text-decoration-none text-center">{{ product.nombre_producto }}</a>
                                    <div class="row mt-2">
                                        <div class="col-md-4">
                                            <img class="img-fluid profile-picture-mini"
                                                 src="{{ url_for('static', filename='images/unknown.png') }}"
                                                 alt="User Image">
                                            <small>* User *</small>
                                        </div>
                                        <div class="col-md-8 d-flex flex-column align-items-center justify-content-center">
                                            <a href="{{ url_for('shop_single') }}"
                                               class="h3 text-decoration-none">Municipio</a>
                                            <a><small>* Colonia *</small></a>
                                        </div>
                                    </div>
                                    <p class="text-center mb-0 mt-2">${{ product.precio }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div div="row">
                    <ul class="pagination pagination-lg justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#"
                               tabindex="-1">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- End Content -->

    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1"> ¿Tienes productos que deseas vender? </h1>
                    <p>
                        Regístrate, es gratis.
                        <br>
                        Comienza a ganar dinero hoy mismo con todas las prendas que ya no utilices!
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example"
                                 data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="{{ url_for('static', filename='assets/img/brand_01.png') }}"
                                                                 alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="{{ url_for('static', filename='assets/img/brand_02.png') }}"
                                                                 alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="{{ url_for('static', filename='assets/img/brand_03.png') }}"
                                                                 alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="{{ url_for('static', filename='assets/img/brand_04.png') }}"
                                                                 alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End First slide-->

                                    <!--Second slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="{{ url_for('static', filename='assets/img/brand_01.png') }}"
                                                                 alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="{{ url_for('static', filename='assets/img/brand_02.png') }}"
                                                                 alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="{{ url_for('static', filename='assets/img/brand_03.png') }}"
                                                                 alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="{{ url_for('static', filename='assets/img/brand_04.png') }}"
                                                                 alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Second slide-->

                                    <!--Third slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="{{ url_for('static', filename='assets/img/brand_01.png') }}"
                                                                 alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="{{ url_for('static', filename='assets/img/brand_02.png') }}"
                                                                 alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="{{ url_for('static', filename='assets/img/brand_03.png') }}"
                                                                 alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                                 src="{{ url_for('static', filename='assets/img/brand_04.png') }}"
                                                                 alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Third slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->

{% endblock %}

{% block scripts %}

    <!-- Start Script -->
    <script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-migrate-1.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/templatemo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/shop_filtering.js') }}"></script>


    <!-- End Script -->

{% endblock %}